<div class="card p-shadow-8">
    <div class="p-fluid">
        <div class="p-field p-grid">
            <div class="p-col-12 p-md-10">
            </div>
            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">
                <button pButton type="button" icon="pi pi-plus" label="Novo"
                    routerLink="/gerencial/usuario/edit"></button>
            </label>
        </div>
    </div>


    <app-filtro-dinamico [(configuracao)]="configuracaoFiltro" (showChange)="showChange($event)"></app-filtro-dinamico>
    <p-table [pageLinks]="5" [value]="dataSource()" [paginator]="true" [(first)]="paginacaoConfig.numeroPagina"
        responsiveLayout="stack" [resizableColumns]="true" [rows]="paginacaoConfig.numeroRows"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Exibindo {first} a {last} de {{paginacaoConfig.totalPagina}} itens"
        (onPage)="paginar($event)">
        <ng-template pTemplate="header">
            <tr>
                <th width="100vh">Código</th>
                <th>Nome</th>
                <th>Login</th>
                <th width="15%">Situação</th>
                <th width="96vh"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-i="rowIndex">
            <tr *ngIf="row">
                <td width="100vh">
                    <span class="p-column-title">Código</span> {{row.id}}
                </td>
                <td>
                    <span class="p-column-title">Nome</span> {{row.nome}}
                </td>
                <td> <span class="p-column-title">Login</span> {{row.login}}
                </td>
                <td width="15%">
                    <span class="p-column-title">Situação</span>
                    <span [class]="'customer-badge situacao-' + row.ativoId">
                        {{row.ativoId === 1 ? 'Ativo' : 'Inativo'}}
                    </span>
                </td>
                <td width="96vh">
                    <button pButton type="button" icon="pi pi-pencil" (click)="edit(row)"></button>
                    <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="excluir(row)"
                        style="left: 11px"></button>
                </td>
            </tr>
            <tr *ngIf="!row">
                <td width="100vh">
                    <p-skeleton></p-skeleton>

                </td>
                <td>
                    <p-skeleton></p-skeleton>
                </td>
                <td>
                    <p-skeleton></p-skeleton>
                </td>
                <td width="15%">
                    <p-skeleton></p-skeleton>
                </td>
                <td width="96vh">
                    <p-skeleton></p-skeleton>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog acceptLabel="Sim" rejectLabel="Não" header="Confirmation" [style]="{width: '50vw'}" [autoZIndex]="true"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast key="001"></p-toast>